<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RegistrationFormAplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>servlets.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreaterNoida</display-name>
    <servlet-name>GreaterNoida</servlet-name>
    <servlet-class>servlets.GreaterNoida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreaterNoida</servlet-name>
    <url-pattern>/GreaterNoida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Noida</display-name>
    <servlet-name>Noida</servlet-name>
    <servlet-class>servlets.Noida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Noida</servlet-name>
    <url-pattern>/Noida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gurgaon</display-name>
    <servlet-name>Gurgaon</servlet-name>
    <servlet-class>servlets.Gurgaon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gurgaon</servlet-name>
    <url-pattern>/Gurgaon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delhi</display-name>
    <servlet-name>Delhi</servlet-name>
    <servlet-class>servlets.Delhi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delhi</servlet-name>
    <url-pattern>/Delhi</url-pattern>
  </servlet-mapping>
</web-app>